h1 
  a(href='http://www.franz-enzenhofer.com/') Franz Enzenhofer

form(name="input", action="/login", method="post")
  key Username
    input(type="text", name="username")

  key Password
    input(type="password", name="password")

  input(type="submit", value="Submit")
