h1 Civilförsvarsförbundet Quiz

form(name="input", action="/question", method="post")
  key Fråga
    input(type="text", name="question")
  br/
  br/
  key Rätt svar
    input(type="text", name="correctAnswer")
  br/
  br/
  key Fel svar
    input(type="text", name="wrongAnswer1")		
    input(type="text", name="wrongAnswer2")
    input(type="text", name="wrongAnswer3")
  input(type="submit", value="Submit")

h1 Frågor i databasen:
table
  thead
  tbody
  tr
    td Radera
    td Frågenr
    td Fråga
  for item in results
    tr
      td
        form(action="/delete", method="post") 
          input(type="button", name="user", value=item.id)
      for col in item
        td= col
