/* =Reset CSS (v2.0) http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
    margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

/* =Base
-------------------------------------------------------------- */
html {
	height: 100%;
}

body {
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	background: #f0ba1f;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-smoothing: antialiased;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
}

/* =Typography
-------------------------------------------------------------- */
p {  
    word-wrap: break-word;
}

/* =Responsive Images
-------------------------------------------------------------- */
img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

/* =Links
-------------------------------------------------------------- */
a {
	color: #06c;
	font-weight: 400;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	color: #444;
	outline: 0;
	text-decoration: underline;
}

/* =Buttons (Colors)
-------------------------------------------------------------- */
.blue {
	background-color: #414082; /* Dodger Blue */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#414082));
	background-image: -webkit-linear-gradient(top, #4f9eea, #414082);
	background-image: -moz-linear-gradient(top, #4f9eea, #414082);
	background-image: -ms-linear-gradient(top, #4f9eea, #414082);
	background-image: -o-linear-gradient(top, #4f9eea, #414082);
	background-image: linear-gradient(top, #4f9eea, #414082);
	border: 1px solid #115290;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#414082);
	text-shadow: 0 -1px 0 #115290;
	margin-bottom:0;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
}

.blue:hover {
	background-color: #7db7f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7db7f0), to(#414082));
	background-image: -webkit-linear-gradient(top, #7db7f0, #414082);
	background-image: -moz-linear-gradient(top, #7db7f0, #414082);
	background-image: -ms-linear-gradient(top, #7db7f0, #414082);
	background-image: -o-linear-gradient(top, #7db7f0, #414082);
	background-image: linear-gradient(top, #7db7f0, #414082);
	border: 1px solid #115290;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0, endColorstr=#414082);
	text-shadow: 0 -1px 0 #115290;
}

.red {
	background-color: #cd0000; /* Red 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2323), to(#cd0000));
	background-image: -webkit-linear-gradient(top, #ff2323, #cd0000);
	background-image: -moz-linear-gradient(top, #ff2323, #cd0000);
	background-image: -ms-linear-gradient(top, #ff2323, #cd0000);
	background-image: -o-linear-gradient(top, #ff2323, #cd0000);
	background-image: linear-gradient(top, #ff2323, #cd0000);
	border: 1px solid #890000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2323, endColorstr=#cd0000);
	text-shadow: 0 -1px 0 #890000;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
}

.red:hover {
	background-color: #ff5656;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5656), to(#cd0000));
	background-image: -webkit-linear-gradient(top, #ff5656, #cd0000);
	background-image: -moz-linear-gradient(top, #ff5656, #cd0000);
	background-image: -ms-linear-gradient(top, #ff5656, #cd0000);
	background-image: -o-linear-gradient(top, #ff5656, #cd0000);
	background-image: linear-gradient(top, #ff5656, #cd0000);
	border: 1px solid #890000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5656, endColorstr=#cd0000);
	text-shadow: 0 -1px 0 #890000;
}

.green {
	background-color: #2e8b57; /* Sea Green 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4bc380), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -moz-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -ms-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -o-linear-gradient(top, #4bc380, #2e8b57);
	background-image: linear-gradient(top, #4bc380, #2e8b57);
	border: 1px solid #1d5837;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4bc380, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
}

.green:hover {
	background-color: #71d09b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#71d09b), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -moz-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -ms-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -o-linear-gradient(top, #71d09b, #2e8b57);
	background-image: linear-gradient(top, #71d09b, #2e8b57);
	border: 1px solid #1d5837;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#71d09b, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
}

/* =Lists
-------------------------------------------------------------- */
ul {
	list-style-type: disc;
    margin: 0;
    padding: 0;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
    margin: 0;
    padding: 0;
}

dt {
	font-weight: 400;
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: 700;
	line-height: 1.0em;
    word-wrap: break-word;
}

h1 {

}

h2 {
    margin-top:0;
	line-height:1.1em;
	font-size: 2.250em; /* = 42px */
    margin-bottom: .5em;
}

h3 {
    font-size: 1.125em; /* = 18px */
    margin-bottom: 1.125em;
    margin-top: 1.125em;
}

/* =Margins & Paddings
-------------------------------------------------------------- */
p {
	margin: 0 0 .8em 0;
}

ol {
    list-style-type: decimal;
}

ul,
ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 2.0em;
}

li ul,
li ol {
    margin: 0;
}

/* =Globals
-------------------------------------------------------------- */
#container {
	margin: 0 auto;
	max-width: 760px;
	min-width: 250px;
	padding: 0 .5em;
}
#footer {
	clear: both;
	margin: 0 auto;
	text-align:center;
}

/* =Header
-------------------------------------------------------------- */
#logo {
	background-color:#fdfdfd;
	padding:1em;
}

/* =Widgets
-------------------------------------------------------------- */
.widget-wrapper {
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin: 0 0 0;
	padding: 1em;
}

/* =Sub-Header Menu
-------------------------------------------------------------- */
nav {
	margin-bottom:1em;
	background-color: #fff;

}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	margin: 0 auto;
	max-width: 760px;
	min-width: 250px;
}

nav ul li {
	border: 0;
	display:inline;
	margin: 0;
	padding: 0;
	float:left;
	width:50%;
	text-align:center;
}

nav ul a {
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	color: #333;
    cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: 400;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0 0.9em;
	position: relative;
	text-decoration: none;
	text-shadow: none;
}
nav ul a:active, 
nav ul a:hover {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-color: #f9f9f9;
	background-clip: padding-box;
}

nav ul .current {
	background-color: #f9f9f9;
}

nav ul > li:last-child > a {
	border-left: none;
}

.button{
padding: 2em;
text-align:center;
}

/* =Quiz
-------------------------------------------------------------- */
#avatar{
background:transparent url('../images/talk.png') no-repeat 100px top;
margin-top:-1px;
}
#quiz{
margin-bottom:0;
}
#quiz  h2{
background:transparent url('../images/question.png') no-repeat right top;
min-height:55px;
padding-right:55px;
margin-bottom:1em;
font-size: 1.125em; /* = 18px */
line-height:1.1em;
}
#quiz ol{
margin-left:0;
margin-right:0;
padding-left:0;
margin-bottom:0;
}
#quiz li{
list-style: upper-alpha inside none;
padding:1em;
border-bottom:solid 1px #ccc;
margin-bottom:.5em;
}
#quiz li:hover{
cursor: hand; 
cursor: pointer; 
}
/* =Result
-------------------------------------------------------------- */
#result{
text-align:center;
}

#result p {
font-size: 1.2em;
line-height:1.3em;
}
span.points{
font-size: 3em;
display: block;
line-height:.8em;
margin-top:.5em;
}

/* =score bar
-------------------------------------------------------------- */
#score .bar{
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin: 0 0 0;
	padding: .5em;
	height:1em;
	margin-bottom:.5em;
}
#score .bar div{
	background-color: #ffc388;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc388), to(#ff7f00));
	background-image: -webkit-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -moz-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -ms-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -o-linear-gradient(top, #ffc388, #ff7f00);
	background-image: linear-gradient(top, #ffc388, #ff7f00);
	/*border: 1px solid #bb5d00;*/
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc388, endColorstr=#ff7f00);
	text-shadow:0 -1px 0 #bb5d00;
	height:1em;
}

/* =about
-------------------------------------------------------------- */
.contact{
list-style:none;
margin-left:0;
padding-left:0;
}
/* =Footer
-------------------------------------------------------------- */
#footer {
	font-size: 11px;
	line-height: 1.5em;
}

#footer a {
	color: #333;
	font-weight: 400;
}

#footer a:hover {
    color: #444;
}

.scroll-top {
	text-align: center;
	margin-top:1em;
}

/* =Responsive (Mobile) Design
-------------------------------------------------------------- */
@media screen and (max-width: 320px) {
	#quiz h2{
	padding-right:0;
	background-image:none;
	min-height:auto;
	}
}
